[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/omnicppcomplete"]
	path = bundle/omnicppcomplete
	url = http://github.com/MasterKey/OmniCppComplete.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = http://github.com/bronson/vim-taglist.git
